@use "../mixins" as mx;

.site-header{
  padding-top: 48px;
  padding-bottom: 50px;
}
.site-header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.site-header__btn{
  width: 32px;
  height: 32px;
  background-image: url("../../images/svg/burgermenu.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-color: inherit;
  border: none;
}