@use "../mixins" as mx;
.hero{
  padding-top: 55px;
  padding-bottom: 190px;
  background-image:url("../../images/svg/illustration.svg "),linear-gradient(0deg, #98C3E8 8.84%, rgba(152, 195, 232, 0.02) 31.12%);
  background-position: calc(50% + 307px) calc(50% + -22px), center;
  
  background-repeat: no-repeat;
}
.hero__title-wrapper{
  max-width: 510px;
  width: 100%;
}
.hero__title{
  margin-top: 0;
  margin-bottom: 32px;
  color:var(--main-blue-heading-color);
font-size: 48px;
font-weight: 700;
line-height: 74px;
letter-spacing: 2.56px;
}
.hero__desc-wrapper{
  max-width: 425px;
  width: 100%;
}
.hero__desc{
  margin-top: 0;
  margin-bottom: 71px;
  color: var(--main-blue-heading-color);
font-size: 15px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0.8px;
opacity: 0.6;
}
.hero__link{
  display: block;
  padding: 15px;
  max-width: 220px;
  width: 100%;
  color: #FFF;
text-align: center;
font-size: 15px;
text-decoration: none;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 0.64px;
  border-radius: 10px;
background: var(--main-blue-a-bg);
box-shadow: 5px 10px 20px 0px rgba(53, 110, 173, 0.20);
}