@use "../mixins" as mx;

.main-project{
  padding-bottom: 192px;

}
.main-project__top{
  display: flex;
  align-items: center; 
  margin-bottom: 96px; 

}
.main-project__title-wrapper{
  max-width: 227px;
  width: 100%;  
  margin-right: 93px;
  
}

.main-project__title{
  margin-top: 0;
  margin-bottom: 0;
  color: var(--main-blue-heading-color);
font-size: 32px;  
line-height: 42px; /* 127.778% */
letter-spacing: 1.8px;
}
.main-project__desc-wrapper{
    width: 540px;

}
.main-project__desc{
  margin-top: 0;
  margin-bottom: 0;
color: var(--main-blue-heading-color);
font-size: 16px;
font-weight: 400;
line-height: 26px; /* 162.5% */
letter-spacing: 0.8px;
}
.main-project__middle{
  width: 100%;
  padding:48px;
  margin-bottom: 92px;
  padding-bottom: 215px;
  background-image: url("../../images/png/project-top.png");
  text-align: right;
}
.main-project__middle-title{
  color: var(--white, #FFF);
font-size: 28px;
font-weight: 500;
line-height: 46px; /* 164.286% */
letter-spacing: 1.4px;
margin-bottom: 8px;
}
.main-project__middle-desc{
  color: var(--white, #FFF);
font-size: 16px;
font-weight: 400;
line-height: 46px; /* 287.5% */
letter-spacing: 0.8px;
opacity: 0.8;
}
.main-project__bottom{
  display: flex;
  justify-content: space-between;
}
.main-project__card{
  width: 422px;
 padding: 24px 32px 290px;
 background-image: url("../../images/png/project-middle-left.png");
}
.main-project__bottom .main-project__card:nth-child(2){
 background-image: url("../../images/png/project-middle-right.png");

}
.main-project__bottom-card-title{
  margin-top: 0;
  margin-bottom:0 ;
  color: var(--white, #FFF);
  font-size: 28px;
  font-weight: 500;
  line-height: 46px; /* 164.286% */
  letter-spacing: 1.4px;
  margin-bottom: 8px;
  background-repeat: no-repeat;
}
.main-project__bottom-card-desc{
  margin-top: 0;
  margin-bottom: 0;
  color: var(--white, #FFF);
  font-size: 16px;
  font-weight: 400;
  line-height: 46px; /* 287.5% */
  letter-spacing: 0.8px;
  opacity: 0.8;
}
